
		<footer class="siteFooter">
			<section class="siteFooter__banners">
				<div class="wrap">
					<ul class="banners">
						<li><a href=""><img src="<%- $path %>../img/common/bnr_dosokai.jpg" width="200" alt=""></a></li>
						<li><a href=""><img src="<%- $path %>../img/common/bnr_dosokai.jpg" width="200" alt=""></a></li>
						<li><a href=""><img src="<%- $path %>../img/common/bnr_dosokai.jpg" width="200" alt=""></a></li>
						<li><a href=""><img src="<%- $path %>../img/common/bnr_dosokai.jpg" width="200" alt=""></a></li>
					</ul>
				</div>
			</section>
			<nav class="siteFooter__nav">
				<div class="wrap">
					<ul class="nav">
						<li><a href="<%- $path %>about">教室のご紹介</a></li>
						<li class="-notActive"><a href="">現場を知る</a></li>
						<li class="-notActive"><a href="">特徴を知る</a></li>
						<li class="-notActive"><a href="">患者様へのご案内</a></li>
						<li class="button button--inquiry"><a href="<%- $path %>contact/">お問い合わせ</a></li>
					</ul>
				</div>
				<i class="pagetop"></i>
			</nav>
			<section class="siteFooter__creditArea">
				<div class="wrap">
					<div class="creditArea">
						<div class="creditArea__left areaLeft">
							<figure class="areaLeft__logo">
								<img src="<%- $path %>../img/common/logo.png" width="100" alt="">
							</figure>
							<div class="areaLeft__address">
								<header class="">滋賀医科大学 整形外科学講座</header> 
								<div>
									<p class="address">〒520-2192 滋賀県大津市瀬田月輪町</p>
									<p>077-548-2252（医局）077-548-2562（外来）</p>
								</div>
								<footer class="copyright">
									このサイトの情報の無断転載を禁じます。<br>
									Copyright &copy; 2011.sumsortho.com All rights reserved.
								</footer>
							</div>
						</div>
						<div class="creditArea__right areaRight">
							<nav class="areaRight__nav">
								<ul class="nav -hasArrow">
									<li>
										<a href="<%- $path %>/topics/">トピックス</a>
									</li>
									<li class="-notActive">
										<a>同窓会</a>
									</li>
									<li class="-notActive">
										<a>関連リンク</a>
									</li>
									<li class="-notActive">
										<a>リハビリテーション科</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</section>
		</footer>
		<!-- ***** frame -->
		<div class="frame frame--h"><div class="frame frame--v"></div></div>
		<!-- ///// frame -->
		<!-- ***** nav toggle (only smartphone) -->
		<div class="navToggle"><span class="navToggle__text"></span></div>
		<!-- ///// nav toggle (only smartphone) -->
		<%- include( '_scripts.ejs' ); %>