		<div class="loadingAnim">
			<!-- ***** loadingAnim -->
			<div class="loadingAnim__content">
				<div class="loadingAnim__logo">
					<img src="<%- $path %>../img/common/logo.png" width="100" alt="">
				</div>
				<div class="loadingAnim__text"><img src="<%- $path %>../img/common/loading.png" width="96" alt=""></div>
			</div>
			<!-- ///// loadingAnim -->
		</div>
		<header class="siteHeader">
			<div class="wrap">
				<h1 class="siteHeader__logo">
					<a href="<%- $path %>"><img src="<%- $path %>../img/common/logo.png" width="120" alt=""></a>
				</h1>
				<nav class="siteHeader__nav">
					<ul class="nav nav--left">
						<li <% if( $active == 'about' ){ %>class="current"<%}%>><a href="<%- $path %>about/">教室のご紹介</a></li>
						<li <% if( $active == 'works' ){ %>class="current"<%}%>><a href="<%- $path %>works/">現場を知る</a></li>
						<li <% if( $active == 'special' ){ %>class="current"<%}%>><a href="<%- $path %>special/">特徴を知る</a></li>
					</ul>
					<ul class="nav nav--right">
						<li <% if( $active == 'information' ){ %>class="current"<%}%>><a href="<%- $path %>kanja/">患者様へのご案内</a></li>
						<li class="button button--inquiry"><a href="<%- $path %>contact">お問い合わせ</a></li>
					</ul>
				</nav>
			</div>
		</header>
		