<% 
	$path = '../';
	$imgPath = '../../img/';
	$active = 'topics';
	include( $path + '_include/_function.ejs' );
	$meta.title = 'TOPICS｜仮';
	$scripts = [ $path + 'page.js'];
%>
<!DOCTYPE html>
<html>
<head>
	<%- include( $path + '_include/head.ejs' ); %>
</head>
	<body class="archive archive-topics">
		<%- include( $path + '_include/header.ejs' ); %>
		<main class="mainContent">
			<!-- ***** mainvisual -->
			<section class="mainvisual -inContents js-effect">
				<div class="mainvisual__image">
					<img src="<%- $imgPath + $active %>/topics-mv.jpg" srcset="<%- $imgPath + $active %>/sp/topics-mv.jpg 780w, <%- $imgPath + $active %>/topics-mv.jpg" alt="">
				</div>
				<div class="mainvisual__textArea">
					<div class="wrap">
						<header class="mainvisual__index">
							<span class="en"><span>T</span><span>O</span><span>P</span><span>I</span><span>C</span><span>S</span></span>
							<h1 class="ja">トピックス</h1>
							
						</header>
						<p class="mainvisual__description">滋賀医科大学整形外科学講座からの<br>最新トピックスをお伝えします。</p>
						<ul class="breadCrumb">
							<li><a href="<%-$path %>index.html">TOP</a></li>
							<li>トピックス</li>
						</ul>
					</div>

				</div>				
			</section>
			<!-- ///// mainvisual -->

			<!-- ***** contents -->
			<article class="articleContent">	
				<div class="wrap">
					<ul class="topicsList">
						<!-- *** news -->
						<li class="topicsList__topic">
							<article class="topic">
								<header class="topic__index">
									<h2 class="subject">2017年度　整形外科専門研修プログラム説明会のご案内</h2>
									<p class="date">
										2017.06.29
									</p>
								</header>
								<div class="topic__content">
									<p>今年もプログラム説明会を開催します。</p>
					
									<p>2017年度のプログラム説明会を9月2日（土）に琵琶湖ホテルで開催します。詳細は各種説明会の案内を参照してください。今年も多くの皆様のご参加をお待ちしています。</p>
								</div>
							</article>							
						</li>
						<!-- /// news -->
						<!-- *** news -->
						<li class="topicsList__topic">
							<article class="topic">
								<header class="topic__index">
									<h2 class="subject">2017年ハンズオンセミナーについて</h2>
									<p class="date">
										2017.06.29
									</p>
								</header>
								<div class="topic__content">
									<p>今年もハンズオンセミナーを以下の日程で開催します。奮って参加ください。</p>
									<p>日時：2017年6月１７日　16時45分～<br>	
										場所：大津プリンス</p>
									<p>詳細は”各種説明会の案内”を参照ください。</p>
								</div>
							</article>							
						</li>
						<!-- /// news -->
						<!-- *** news -->
						<li class="topicsList__topic">
							<article class="topic">
								<header class="topic__index">
									<h2 class="subject">2017年度　整形外科専門研修プログラム説明会のご案内</h2>
									<p class="date">
										2017.06.29
									</p>
								</header>
								<div class="topic__content">
									<p>今年もプログラム説明会を開催します。</p>
					
									<p>2017年度のプログラム説明会を9月2日（土）に琵琶湖ホテルで開催します。詳細は各種説明会の案内を参照してください。今年も多くの皆様のご参加をお待ちしています。</p>
								</div>
							</article>							
						</li>
						<!-- /// news -->
						<!-- *** news -->
						<li class="topicsList__topic">
							<article class="topic">
								<header class="topic__index">
									<h2 class="subject">2017年ハンズオンセミナーについて</h2>
									<p class="date">
										2017.06.29
									</p>
								</header>
								<div class="topic__content">
									<p>今年もハンズオンセミナーを以下の日程で開催します。奮って参加ください。</p>
									<p>日時：2017年6月１７日　16時45分～<br>	
										場所：大津プリンス</p>
									<p>詳細は”各種説明会の案内”を参照ください。</p>
								</div>
							</article>							
						</li>
						<!-- /// news -->
																								<!-- *** news -->
						<li class="topicsList__topic">
							<article class="topic">
								<header class="topic__index">
									<h2 class="subject">2017年度　整形外科専門研修プログラム説明会のご案内</h2>
									<p class="date">
										2017.06.29
									</p>
								</header>
								<div class="topic__content">
									<p>今年もプログラム説明会を開催します。</p>
					
									<p>2017年度のプログラム説明会を9月2日（土）に琵琶湖ホテルで開催します。詳細は各種説明会の案内を参照してください。今年も多くの皆様のご参加をお待ちしています。</p>
								</div>
							</article>							
						</li>
						<!-- /// news -->
						<!-- *** news -->
						<li class="topicsList__topic">
							<article class="topic">
								<header class="topic__index">
									<h2 class="subject">2017年ハンズオンセミナーについて</h2>
									<p class="date">
										2017.06.29
									</p>
								</header>
								<div class="topic__content">
									<p>今年もハンズオンセミナーを以下の日程で開催します。奮って参加ください。</p>
									<p>日時：2017年6月１７日　16時45分～<br>	
										場所：大津プリンス</p>
									<p>詳細は”各種説明会の案内”を参照ください。</p>
								</div>
							</article>							
						</li>
						<!-- /// news -->
						<!-- *** news -->
						<li class="topicsList__topic">
							<article class="topic">
								<header class="topic__index">
									<h2 class="subject">2017年度　整形外科専門研修プログラム説明会のご案内</h2>
									<p class="date">
										2017.06.29
									</p>
								</header>
								<div class="topic__content">
									<p>今年もプログラム説明会を開催します。</p>
					
									<p>2017年度のプログラム説明会を9月2日（土）に琵琶湖ホテルで開催します。詳細は各種説明会の案内を参照してください。今年も多くの皆様のご参加をお待ちしています。</p>
								</div>
							</article>							
						</li>
						<!-- /// news -->
						<!-- *** news -->
						<li class="topicsList__topic">
							<article class="topic">
								<header class="topic__index">
									<h2 class="subject">2017年ハンズオンセミナーについて</h2>
									<p class="date">
										2017.06.29
									</p>
								</header>
								<div class="topic__content">
									<p>今年もハンズオンセミナーを以下の日程で開催します。奮って参加ください。</p>
									<p>日時：2017年6月１７日　16時45分～<br>	
										場所：大津プリンス</p>
									<p>詳細は”各種説明会の案内”を参照ください。</p>
								</div>
							</article>							
						</li>
						<!-- /// news -->
						<!-- *** news -->
						<li class="topicsList__topic">
							<article class="topic">
								<header class="topic__index">
									<h2 class="subject">2017年度　整形外科専門研修プログラム説明会のご案内</h2>
									<p class="date">
										2017.06.29
									</p>
								</header>
								<div class="topic__content">
									<p>今年もプログラム説明会を開催します。</p>
					
									<p>2017年度のプログラム説明会を9月2日（土）に琵琶湖ホテルで開催します。詳細は各種説明会の案内を参照してください。今年も多くの皆様のご参加をお待ちしています。</p>
								</div>
							</article>							
						</li>
						<!-- /// news -->
						<!-- *** news -->
						<li class="topicsList__topic">
							<article class="topic">
								<header class="topic__index">
									<h2 class="subject">2017年ハンズオンセミナーについて</h2>
									<p class="date">
										2017.06.29
									</p>
								</header>
								<div class="topic__content">
									<p>今年もハンズオンセミナーを以下の日程で開催します。奮って参加ください。</p>
									<p>日時：2017年6月１７日　16時45分～<br>	
										場所：大津プリンス</p>
									<p>詳細は”各種説明会の案内”を参照ください。</p>
								</div>
							</article>							
						</li>
						<!-- /// news -->												
					</ul>
					<p class="topicsListNext"><a href="">次の10件へ進む</a></p>
				</div>
			</article>
			<!-- ///// contents -->
			
		</main>
		<%- include( $path + '_include/footer.ejs' ); %>
	</body>
</html>