<% 
	$path = '../';
	$imgPath = '../../img/';
	$active = 'kanja';
	include( $path + '_include/_function.ejs' );
	$meta.title = '患者様へのご案内 |滋賀医科大学 整形外科学講座';
	$meta.description = '滋賀医科大整形外科学講座の患者様へのご案内ページです。';

%>
<!DOCTYPE html>
<html>
<head>
	<%- include( $path + '_include/head.ejs' ); %>
</head>
	<body class="page page-information">
		<%- include( $path + '_include/header.ejs' ); %>
		<main class="mainContent">
			<!-- ***** mainvisual -->
			<section class="visual -inContents js-effect">
				<div class="visual__image">
					<img src="<%- $imgPath + $active %>/info-mv.jpg" srcset="/assets/img/<%- $active %>/sp/info-mv.jpg 780w, /assets/img/<%- $active %>/info-mv.jpg" alt="">
				</div>
				<div class="visual__textArea">
					<div class="wrap">
						<header class="visual__index">
							<span class="en"><span>I</span><span>N</span><span>F</span><span>O</span><span>R</span><br><span>M</span><span>A</span><span>T</span><span>I</span><span>O</span><span>N</span>
							</span>
							<h1 class="ja">患者様へのご案内</h1>
							
						</header>
						<ul class="breadCrumb">
							<li><a href="<%-$path %>index.html">TOP</a></li>
							<li>患者様へのご案内</li>
						</ul>
					</div>

				</div>				
			</section>
			<!-- ///// mainvisual -->

			<!-- ***** contents -->
			<article class="articleContent">
					<section class="articleContent__section section--greeting">
						<div class="wrap">
							<div class="greeting js-effect">
								<figure>
									<img src="<%- $imgPath + $active %>/info-imai.jpg" width="550" alt="">
								</figure>
								<div class="greeting__by">
									<p>
										滋賀医科大学<br>
										整形外科学講座<br>
										教授
									</p>
									<p class="greeting__by__name">今井晋二</p>
								</div>
							</div>						
							<h2 class="articleContent__section__index">
								メッセージ
							</h2>
							<div class="articleSection__content">
								<p>
									整形外科は、骨、軟骨、筋肉、靱帯、神経など人体の運動を司る運動器のけがや病気を診断し、治療する診療科です。整形外科の診療範囲は幅広く、患者さんも新生児から高齢者まですべての年齢層に及びます。たとえばスポーツや交通事故による外傷・故障はもちろんのこと、加齢に伴う関節や脊椎の病気、骨や軟部組織の腫瘍、関節リウマチや骨髄炎などの炎症性疾患、あるいは骨粗鬆症などの代謝性疾患などを持つ患者さんを診断・治療するのが私たちの役目です。今後は昨今の人口の高齢化などにより、整形外科の社会的ニーズがますます高まるだろうと予想されています。<br>
									私たちは患者さんによりよい医療を提供できるよう、日々の診療・研究に従事しています。運動器のことでなにかお困りのことがあれば、いつでもご相談ください。</p>				
							</div>
						</div>
					
					</section>
					<section class="articleContent__section section--schedule">
						<div class="wrap">
							<h2 class="articleContent__section__index">
								外来診察医予定表
							</h2>
							<div class="articleSection__content">
								<p>曜日によって、担当医がかわりますので下記リンク先である、滋賀医科大学医学部附属病院のホームページより予めご確認くださいませ。</p>
								<p class="-hasArrow"><a  href="">外来診察予定表はこちらから</a></p>
						
								<section class="articleContent__child">
									<h3 class="articleContent__child__index">
										外来への予約・お問い合わせ
									</h3>
									<div class="aInfo">
										<p>お電話にて、お手数ですがご連絡くださいませ。なお、外来直通となっております。</p>
										<div >
											<p>
												<a class="aInfo__telnum" href="">077-548-2562</a>
											</p>
											<p><small>（外来直通）</small></p>
										</div>
									</div>
								</section>
							</div>	
						</div>	
					</section>
					<section class="articleContent__section section--access">
						<div class="wrap">
							<h2 class="articleContent__section__index">
								アクセス
							</h2>
							<div class="articleSection__content">
												
								<section class="articleContent__child -introduction">
									<table class="aTable aTable--access">
										<tr>
											<th>住所</th>
											<td>〒520-2192　滋賀県大津市瀬田月輪町</td>
										</tr>
										<tr>
											<th>最寄り駅</th>
											<td>ＪＲ東海道本線（琵琶湖線）の「瀬田駅」からはタクシーをお使いくださいませ。</td>
										</tr>									
									</table>
								</section>
								<section class="articleContent__child -byBus">
									<h3 class="articleContent__child__index">
										バスでお越しの場合
									</h3>
									<div class="aColumn">
										<figure class="aColumn__row">
											<img src="<%- $imgPath + 'about' %>/about-access-flow.png" width="550" alt="">
										</figure>
										<div class="aColumn__row">
											<ul class="aList -check">
												<li>JR東海道本線「瀬田駅」下車</li>
												<li>瀬田駅東口より「滋賀医大」行きのバスに乗車</li>
											</ul>
											<table class="aTable aTable--access">
												<tr>
													<th>帝産バス</th>
													<td>「大学病院前」下車</td>
												</tr>
												<tr>
													<th>近江バス</th>
													<td>「滋賀医大前」下車</td>
												</tr>									
											</table>
											<ul class="-hasBlank">
												<li><a href="http://www.jr-odekake.net/" target="_blank">JR西日本の時刻と経路を調べる</a></li>
												<li><a href="http://www.teisan-qr.com/" target="_blank">帝産バス時刻表</a></li>
												<li><a href="https://ohmitetudo-bus.jorudan.biz/diagram" target="_blank">近江バス時刻表</a></li>
											</ul>				
										</div>
									</div>
								</section>	
								<section class="articleContent__child -byCar">
									<h3 class="articleContent__child__index">
										車でお越しの場合
									</h3>
									<div class="aColumn">
										<div class="aColumn__row">
											<iframe frameborder="0" src="https://www.google.com/maps/d/embed?mid=1Aou2F1Ukc-AdvS52yGBUStXKhH4" width="640" height="480"></iframe>
										</div>
										<div class="aColumn__row">
											<table class="aTable aTable--access">
												<tr>
													<th>高速の場合</th>
													<td>名神高速道路「瀬田東I.C」より約10分近江バス</td>
												</tr>
												<tr>
													<th>国道1号線<br>からの場合</th>
													<td>「月輪一丁目」交差点を曲がって約3km</td>
												</tr>									
											</table>
											
										</div>
									</div>
								</section>
							</div>
						</div>
						<footer class="articleFooterContact">
							<div class="wrap">
								<div class="button button--inquiry">
									<a href="<%- $path %>contact/">お問い合わせ</a>
								</div>
							</div>
						</footer>					
					</section>				
			</article>
			<!-- ///// contents -->
			
		</main>
		<%- include( $path + '_include/footer.ejs' ); %>
	</body>
</html>